.item {
  position: relative;
  height: 144px;
  border: 1px solid lightgray;
  border-radius: 4px;
  overflow: hidden;
  padding: 20px;

  :global {
    .arco-col {
      height: 100%;
    }
  }
}

.cover {
}

.main {
  padding: 0 20px;

  .desc {
    margin-bottom: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  .title {
    margin: 0;
    font-weight: bold;
  }
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: center center;
  transform: rotate(45deg) translate(28px, -20px);
  width: 100px;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  color: #fff;
  font-weight: 600;

  &.UPLOADED {
    background-color: rgba(0, 0, 255, 0.3);
  }

  &.REJECTED {
    background-color: rgba(255, 0, 0, 0.4);
  }

  &.REVIEWED {
    background-color: rgba(0, 255, 0, 0.5);
  }
}
